.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 118px 0px 118px 0px;
    width: 100%;
}

.contents-container {
    width: 100%;
    display: flex;
    width: 90%;
    /* height:636px; */
    height: 437.34783935546875px;
    gap: 30px;
}


/*--------------- Text STyling -------------- */

.contents-container > .text-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 50%;
    align-items: start;
    justify-content: center;
    height: 437.34783935546875px;
}

.text-container > .main-text {
    font-size: 4.2vw;
    font-weight: 600;
    color: #1E1E1E;
}

.text-container > .sub-text {
    font-size: 30px;
    color: #464646;
    font-weight: 400;
}

.btn-container > button {
    border: none;
    text-decoration: none;
    background-color: #FEAE00;
    padding: 13px 21px;
    border-radius: 50px;
    font-weight: 600;
}

.btn-container > button > a {
    font-size: 16px;
    color: #1F1F1F;
}

/* ------------ Image Styling ------------ */

.img-container {
    width: 50%;
    height: 437.34783935546875px;
}

.img-container > span > img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}




/* <-------- Mobile Responsiveness ---------> */


@media (max-width: 768px) {

    .about-container {
        height: max-content;
        padding: 80px 0px 80px 0px;
    }

    .contents-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.contents-container > .text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: start;
    justify-content: center;
    text-align: start;
    line-height: 20px;
}

.text-container > .main-text {
    font-size: 24px;
}

.text-container > .sub-text {
    font-size: 16px;
    line-height: 20px;
}

.btn-container > button {
    border: none;
    text-decoration: none;
    background-color: #FEAE00;
    padding: 13px 21px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 14px;
}

.btn-container > button > a {
    font-size: 14px;
    color: #1F1F1F;
}

.img-container {
    width: 100% !important;
    
}

.img-container > span > img {
    width: 90vw;
    height: 80%;
    object-fit: stretch;
}
}

